
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />
 <link rel="stylesheet" href="/stylesheets/style.css" />

<section class="Signup-section">





 <div class="uk-position-small uk-position-center uk-overlay uk-overlay-default">
<form action="/auth/signup" method="POST" id="signup-form">
  <h2 class="tracking-in-expand">SIGN UP</h2>
   <label for="First-Name"></label>
   
  <input  id="input-signup" type="text" name="name" placeholder = "Name" >
  <br><br>

  
  <label for="email"></label>
  <input id="input-signup" type="email" name="email" placeholder="Email">
  <br><br>

  <label for="username-signup"></label>
  <input id="input-signup" type="text" name="username" placeholder="Username">

  <br><br>

  <label for="password"></label>
  <input id="input-signup" type="password" name="password" placeholder="Your password">
  <br><br>

  <label for="password2"></label>
  <input id="input-signup" type="password" name="password1" placeholder="Confirm Your Password">
 <br>


  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
{{!--  --}}




{{!--  --}}

  <button id="login-button">Create account</button>

  <p class="account-message"><br>
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
</div>
</section>


<script>



</script>


<div class="titleWrapper">
	<h1 class="first">Ready</h1>	<h1 class="second">To meet your next pal?</h1>
</div>

<script>jQuery(document).ready(function(){
	jQuery(".titleWrapper").addClass("ready");
	
jQuery(".titleWrapper h1").each(function(){
	var fullString;
	var characters = jQuery(this).text().split("");
	
	$this = jQuery(this);
	$this.empty();
	$.each(characters, function (i, el) {
		if(el == " "){el = "&nbsp;"};
    $this.append("<span>" + el + "</span");
	});
		
});
	
});</script>