<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


 
  <h1>Where do you want to travel?</h1><br>
  <input type="text" placeholder="Search">
  <br>
  <h2>When?</h2><br>  
   From: <input type="text"><br>
    To: <input type="text">
    <button type="button">Search for Buddies </button>