<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Travel pal</title>
</head>
<body>
  <h1>Where do you want to travel?</h1><br>
  <input type="text" placeholder="Search">
  <br>
  <h2>When?</h2><br>  
   From: <input type="text"><br>
    To: <input type="text">
    <button type="button">Search for Buddies </button>
</body>
</html>