 
 <div class="hero-bkg-animated">

  <div id="landing"><form id="where">
  <section class="mainTitle">
  Where are you going?
    </section>

<section class="mainTitle2">
    
    <br>
  <input id="search" type="text" placeholder="Search">
  <br>
  <br>
  From:
  <br>
  
  <input type="date" min="2018-12-01">
  <br>
  
  To:
  
  <br> 
  <input type="date" min="2018-12-01">
	<br>
  <br>
	<button id="LNDBTN" type="button">Search for Pals </button> </form>
  </div>
</section>

</div>