<video autoplay muted loop id="myVideo">
  <source src="./images/movie.mp4" type="video/mp4">
</video>
<form action="/results" method="POST">
<div class="content">
  <section id="form">
  <section class="mainTitle">
  Where are you going?
    

  <section class="mainTitle2">
    
  <br>
  <input class="search" type="text" placeholder="Search">
  <br>

  <br>
  From:
  <br>
  
  <input id="search" type="date">
  <br>
  To:
  
  <br> 
  <input id="search" type="date">
	<br>
  <br>
	<button id="LNDBTN" type="submit">Search for Pals </button> </form>
  </div>
  </section>
</section>
</section>
</div>
</form>
