<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/script.js"></script>
</head>
<body>
  
  <div>
  

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div>
   <a href="/"> <img  id="logo"src="../images/logo.png"  ></a>
  </div>
    <div class="fl" style="color:white;">
    <a class="navbar-item" href="/">Home</a>
    <a class="navbar-item" href="/auth/myProfile">Profile</a>
    <a class="navbar-item"href="/auth/login">Login</a>
    <a class="navbar-item" href="/auth/signup">Signup</a>
    <a class="navbar-item" href="/auth/logout">Logout</a>
  </div>
  </nav>
</div>
  {{{body}}}
  
  <footer class="ft">
<div>
  <span>
  Aviso de Privacidad
  </span>
  <span>
    Copyright Travel Pal
  </span>
</div>
  
<div id="footerlogos">Privacy Policy
<a href="/"> <img  src="../images/fblogo.png"></a>
<a href="/"> <img  src="../images/instagramlogo.png"  ></a>
<a href="/"> <img  src="../images/twitterlogo.png"  ></a>

</div>
</footer>

  
  <script src="/javascripts/script.js"></script>
</body>

</html>