<div id="about">
  <div id="imgprofile" style="background-image:url('{{photoUrl}}')">
    
  </div>
      <div id="aboutinfo">
      <p>{{username}}</p>
    
      <p>Age:</p><input type="text" name="age">
       
      <p>occupation</p><input type="text" name="occupation"></div>
      <div>
        <button id="chat">Chat</button>
      </div>
  </div>
  

  <div class="column">
  <section>
  <div class="bio">
  <span>  
  <h3>Bio</h3><br>
  <input type="text" name="bio">
  </span>
  <span>
    <div class="column">
  <h3>Interests</h3><br>
  <input type="text" name="interests">
  </span>
  <span>
    </div>
  <h3>Languages</h3><br>
  <input type="text" name="languages">
  </span>
  </div>

  <button type="submit">Save</button>
</section>
