
    <nav class="small-search">
      <div class="s1">
        <h3>Where do you want to travel?</h3><br>
        <input type="text" placeholder="Search">
      </div>
      <div class="s2">
        <h3>When?</h3><br>  
   From: <input type="text"><br>
    To: <input type="text">
    <button type="button">Search for Pals</button>
      </div>
    </nav>
    <section class="mid-body">

      {{# each users}}
      <div class="pic-cards">
        <a href="/profile"><img src="{{photoUrl}}" width="150" class="card"/></a>
       <p>{{username}}</p>
       <p>References: {{references}}</p>
       <p>{x-day} to {x-day}</p>
       <p>I'm here because I got tired of my dog barking. Looking for some people to hang with!</p>
      </div>
      {{/each}}

      <div class="filter-items">
        <h2>Filters</h2>
        <ul>
          <li><a href="#">Locals</a></li>
          <li><a href="#">Travelers</a></li>
        </ul>
      </div>
    </section>
