
    <nav class="small-search">
      <div class="s1">
        <h3>Where do you want to travel?</h3><br>
        <input type="text" placeholder="Search">
      </div>
      <div class="s2">
        <h3>When?</h3><br>  
   From: <input type="text"><br>
    To: <input type="text">
    <button type="button">Search for Buddies </button>
      </div>
    </nav>
    <section class="mid-body">
      <div class="pic-cards">
        <img src="../images/chi-rene.JPG" width="150" class="card"/>
        <img src="../images/chi-rene.JPG" width="150" class="card"/>
        <img src="../images/chi-rene.JPG" width="150" class="card"/>
        <br>
        <img src="../images/chi-rene.JPG" width="150" class="card"/>
        <img src="../images/chi-rene.JPG" width="150" class="card"/>
        <img src="../images/chi-rene.JPG" width="150" class="card"/>
      </div>
      <div class="filter-items">
        <h2>Filters</h2>
        <ul>
          <li><a href="#">Locals</a></li>
          <li><a href="#">Travelers</a></li>
        </ul>
      </div>
    </section>
