body {
  padding: 0px;
 
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
  
  background-color: #fafafa;
  color: #3273dc;
  transition:.7s
}
.navbar  {
  padding-left: 10px;
  font-size: 17px;
  transition:.7s;
  text-align: center;
  background-color:rgba($color: rgb(214, 177, 97), $alpha: 1);
  height: 70px;
}

.navbar .navbar-item {
  transition:.7s;
 display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-end;
 
}

.navbar #logo{

  margin-top: -10px;
}

#form{

  
  background-color:rgba(0, 0, 0,.5);
 height: 100vh;
  
padding-bottom: 70px;
  
}
#form-login{
padding:300px;
color: black;
}
#login-square{
background: #eeeeee96;
width: 400px;
display: flex;
align-content: center;
justify-content: center;



}

#logo:hover{
  opacity: .3;
  width: 150px;
  transition: 0.7s;
  cursor: pointer;
}
#logo{
  transition: 0.7s;
  width: 150px;
  cursor: pointer;
  

}
.mainTitle{
  font-size: 25px;
  color: burlywood;
  text-align: center;
  padding: 150px;
  margin-bottom: 0px;
  
}
.mainTitle2{
  font-size: 25px;
  color: burlywood;
  text-align: center;
}

input{
  width: 500px;
  height: 30px;
  border: solid rgb(104, 99, 99) 2px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px grey;
  transition: .7s;
}

 #username{
  width: 300px;
  height: 30px;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px grey;
  transition: .7s;
  background-color: #fff9f7;
}

#username:hover{
  height: 40px;
  transition: .7s;

}
input:hover{
  // width: 500px;
  height: 34px;
  transition: .7s;

}
#search {
  text-align: center;
  height: 50px;
  font-size: 20px;
  background-color: #fff;
  
}

::placeholder{
  font-size: 20px;
 
}

#LNDBTN{
  
  width: 200px;
  height: 70px;
  border-radius: 50px;
  transition: 0.5s;
  background: orange;
 
  
}
#LNDBTN:hover{
  
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  transition: 0.5s;
  cursor: pointer;

}



footer{

    position:fixed;
    bottom:0;
    width:100%;
    height:5vh;   
    background:black;
 }




#footerlogos {
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-end;
  justify-content:space-evenly;
 
  
  
}
#footerlogos img {
height: 20px;
transition: .7s;
align-items: center;
}

#footerlogos img:hover{
  height: 40px;
  opacity: .4;
  transition: .3s;
  }


  // profile
#top-section{
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
} 
  
 #top-profile {

  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;
  align-items: center;
  background-color:rgba($color: #4b4b4b, $alpha: 0.1) ;
  width: 500px;
  height: 150px;
  border-radius: 10px;
  margin-top: 30px;
 }


 #top-profile #chat{

 margin-left: 150px;

 }

 
  #imgprofile{

    // background-image: url("../images/chi-rene.JPG");
    background-position: center;  
    background-size: cover;
    width:110px;
    height: 110px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 400px;
    margin-left: 10px;
  }

  #chat{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: rgba($color: #c1c7d0, $alpha: 1);
    font-size: 13px;
    transition: .4s;
    
    box-shadow:none;
  }


  
  #chat:hover{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: rgba($color: #8093af, $alpha: 1);
    transition: .4s;
    box-shadow:none; 
  }

#textabout{
display: flex;
flex-direction: column;
margin-left: 20px;
font-weight: bold;


}

#h3{
  font-size: 20px;
  font-weight: bold; 
}


#middle-section{
  display:flex;
  justify-content: space-evenly;
  margin-left: 30px;
  padding-top:30px;
  
}
  #middle-left{
    
    margin-left: 50px;
    border-radius: 10px;
    margin-bottom: 19px;
    
  }

  #middle-left p {
    padding-left:30px;
    padding-top:10px;
  }

  #bottom{
    display:flex;
    justify-content: center;
    margin-left: 30px;
    padding-top:30px;
    width: 100%;
  }

  #bottomdiv{
    width: 400px;
    display:flex;
    justify-content: center;
    
  

  }
  #bio{
    background-color: rgba($color: #000000, $alpha: 0.1);
    margin-right: 30px;
    border-radius: 10px;
    width: 60%;
  
  }

  #interests{
    background-color: rgba($color: #000000, $alpha: 0.1);
    margin-right: 30px;
    border-radius: 10px;
    width: 60%;
  }
  #languages{
    background-color: rgba($color: #000000, $alpha: 0.1);
    margin-right: 30px;
    border-radius: 10px;
    width: 60%;
  }

  #references{
    background-color: rgba($color: #000000, $alpha: 0.1);
    margin-right: 30px;
    border-radius: 10px;
    width: 60%;
    
  }
  #rating{
    margin-right: 100px;
    border-radius: 10px;
  }

  #middle-right{
    
    margin-right: 30px;
    border-radius: 10px;
    
  }

  #middle-right p {
    padding-left:30px;
    padding-top:10px;
  }

  span{
    width: 40%;
    padding-right:10px;
    padding-left:10px
  } 


  #rating{

    width: 300px;
  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-right:100px;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }



  //Signup

  .uk-overlay-default {
    background: rgba(255,255,255,0);
}

  .Signup-section{

background-image: url("../images/montañas.jpg");
position: fixed;
    right: 0;
    bottom: 10;
    min-width: 100%; 
    min-height:100%;
    background-color: rgba($color: #000000, $alpha: 0.1)

  }
#signup-form{

  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  
  border-radius:15px;
 
}

  #input-signup{
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    height: 50px;
    border-radius: 0;
    padding:15px;
    
  }

    
  
  #login-button:hover{
    
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 200px;
  
  }

  #login-button{
    width: 200px;
    height: 70px;
    border-radius: 50px;
    transition: 0.5s;
    background: orange;
    margin-left: 200px;
   
  }

  

  .account-message{

    margin-left: 160px;
    color:white
  }

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
 font-size: 25px;
 color:white;
text-align: center;

// -webkit-text-stroke: 1px black;
font-family: sans-serif;
          }
 
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


         
  //videooo
  * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
}

.content {
    position: fixed;
    bottom: 0;
    color: #a87676;
    width: 100%;
    padding-top: 100%;
    
}

.small-search{
color:black;
display: flex;
align-content: center;
justify-content: center;

text-align: center;
align-items: center;
 background-color: rgba(214, 177, 97, 0.493);
// height:250px;
}

.mid-body{

display: flex;
align-content: center;
justify-content: center;
flex-direction: row;
text-align: center;
align-items: center;
flex-wrap: wrap;


overflow-y: scroll;
position: relative;

}

.mid-body .pic-cards img{
  
  border-radius: 50px;
  
  
}
.mid-body .pic-cards a{
 
}


.mid-body .pic-cards p{

  width: 320px;

  


}

.pic-cards{

  background-color: #ffe6b779;
  border-radius: 40px;
  display: flex;
  
  flex-direction: column;
  margin-bottom:70px;
  margin-left: 20px;
  height: 380px;
}